<section class="login">
  <div class="login__welcome">Welcome back!</div>
  <div class="login__icon">
    <img src="../../assets/images/movie.png" alt="" class="login__image" />
  </div>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="login__form">
    <input
      id="login"
      type="text"
      formControlName="login"
      placeholder="Username"
    />
    <input
      id="login"
      type="password"
      formControlName="password"
      placeholder="Password"
    />
  </form>
  <button (click)="onSubmit()" class="button-submit">Sign in</button>
  <div class="login__signup" [routerLink]="['/registration']">
    Need an account? <span class="login__signup-color">Sign up!</span>
  </div>
</section>
