<section class="main-section">
  <div class="main-section__description">Coming soon..</div>
  <mat-tab-group mat-align-tabs="center" animationDuration="2000ms">
    <mat-tab label="🎬">
      <img
        src="../../assets/images/carousel_4.jpg"
        alt=""
        class="main-section__movie"
      />
    </mat-tab>
    <mat-tab label="🎬">
      <img
        src="../../assets/images/carousel_2.jpg"
        alt=""
        class="main-section__movie"
    /></mat-tab>
    <mat-tab label="🎬">
      <img
        src="../../assets/images/carousel_3.jpg"
        alt=""
        class="main-section__movie"
    /></mat-tab>
    <mat-tab label="🎬">
      <img
        src="../../assets/images/carousel_1.jpg"
        alt=""
        class="main-section__movie"
    /></mat-tab>
  </mat-tab-group>
</section>
