

  <div class="movies">
    <div class="movies__block" *ngFor="let movie of movies">
        <div class="movies__container">
            <div class="movie-image">
                <img src="{{movie.image}}" alt="" class="movie-image__container">
            </div>
            <div class="movie-title">{{movie.title}}</div>
            <div class="movie-description">{{movie.description}}</div>
        <div class="movie-buy">
            <div class="movie-buy__text" (click) = "sentToBuy(movie.title)" [routerLink]="['/buy']">Buy a ticket!</div></div>
        </div>
    </div>
  </div>